assets/flows-accelerometer.json
[{"id":"2bed54da.d0bbcc","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"a38ab092.9ed8b","type":"tab","label":"Machine Learning","disabled":false,"info":""},{"id":"5cd12917.3af168","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7234f317.21b3ec","type":"ui_group","z":"","name":"Acceleration","tab":"d99d8ca1.d52f7","disp":true,"width":"10","collapse":false},{"id":"fb7e5dab.3ba32","type":"mqtt-broker","z":"","name":"","broker":"d55gdg.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"92ed3a8.4e08ac8","clientid":"a:d55gdg:iot","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d99d8ca1.d52f7","type":"ui_tab","z":"","name":"Acceleration dashboard","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"92ed3a8.4e08ac8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"d55gdg.messaging.internetofthings.ibmcloud.com","verifyservercert":true},{"id":"f4366f5d.b1a64","type":"ui_group","z":"","name":"Shake detection","tab":"d99d8ca1.d52f7","disp":true,"width":"6","collapse":false},{"id":"f524837.e691b8","type":"debug","z":"2bed54da.d0bbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":40,"wires":[]},{"id":"7e9dc0c9.5e3808","type":"mqtt in","z":"2bed54da.d0bbcc","name":"Subscribe to MQTT event","topic":"iot-2/type/android/id/honor5x/evt/accel/fmt/json","qos":"2","datatype":"json","broker":"fb7e5dab.3ba32","x":150,"y":300,"wires":[["86506eb6.09d7c8","f524837.e691b8","b09b254d.84c5","c1310974.d673c","fb2cbf7d.28334","8e14a4f0.cd7638","542c5a27.46d0bc","61016a3c.8ec1ac"]]},{"id":"32c41639.f8bffa","type":"ui_chart","z":"2bed54da.d0bbcc","name":"","group":"7234f317.21b3ec","order":1,"width":0,"height":0,"label":"Accelerometer","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"200","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff2600","#00fa00","#0432ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":160,"wires":[[]]},{"id":"86506eb6.09d7c8","type":"change","z":"2bed54da.d0bbcc","name":"Extract acceleration X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerX@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"X","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":100,"wires":[["32c41639.f8bffa"]]},{"id":"b09b254d.84c5","type":"change","z":"2bed54da.d0bbcc","name":"Extract acceleration Y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerY@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":160,"wires":[["32c41639.f8bffa"]]},{"id":"c1310974.d673c","type":"change","z":"2bed54da.d0bbcc","name":"Extract acceleration Z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerZ@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["32c41639.f8bffa"]]},{"id":"ca014765.f32d9","type":"inject","z":"2bed54da.d0bbcc","name":"Clear graph","topic":"clear","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":300,"wires":[["32c41639.f8bffa","b0755a4a.5e5ed"]]},{"id":"b0755a4a.5e5ed","type":"ui_chart","z":"2bed54da.d0bbcc","name":"","group":"7234f317.21b3ec","order":1,"width":0,"height":0,"label":"Linear Accelerometer","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"200","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff2600","#00fa00","#0432ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":460,"wires":[[]]},{"id":"fb2cbf7d.28334","type":"change","z":"2bed54da.d0bbcc","name":"Extract linear acceleration X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.LinearAccelerationX@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"X","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["b0755a4a.5e5ed"]]},{"id":"8e14a4f0.cd7638","type":"change","z":"2bed54da.d0bbcc","name":"Extract linear acceleration Y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.LinearAccelerationY@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["b0755a4a.5e5ed"]]},{"id":"542c5a27.46d0bc","type":"change","z":"2bed54da.d0bbcc","name":"Extract linear acceleration Z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.LinearAccelerationZ@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["b0755a4a.5e5ed"]]},{"id":"ab523d94.9dcdd","type":"ui_gauge","z":"2bed54da.d0bbcc","name":"","group":"f4366f5d.b1a64","order":2,"width":0,"height":0,"gtype":"gage","title":"Absolute acceleration","label":"m^2/s","format":"{{value | number:2}}","min":0,"max":"20","colors":["#ff2600","#00fa00","#ff2600"],"seg1":"4.9","seg2":"14.7","x":720,"y":600,"wires":[]},{"id":"61016a3c.8ec1ac","type":"change","z":"2bed54da.d0bbcc","name":"Extract absolute acceleration","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerAbsolute@Device","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"abs(A)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":640,"wires":[["ab523d94.9dcdd","4ea32e7.2c1765"]]},{"id":"9a46a8d3.482a58","type":"ui_toast","z":"2bed54da.d0bbcc","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Shake detected!","name":"Shake notification","x":950,"y":600,"wires":[]},{"id":"4ea32e7.2c1765","type":"switch","z":"2bed54da.d0bbcc","name":"0.5g < abs(A) < 1.5g","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"4.9","vt":"num","v2":"14.7","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":720,"y":660,"wires":[[],["9a46a8d3.482a58"]]},{"id":"adcc784d.ca6778","type":"mqtt in","z":"a38ab092.9ed8b","name":"Subscribe to MQTT event","topic":"iot-2/type/android/id/honor5x/evt/accel/fmt/json","qos":"2","datatype":"json","broker":"fb7e5dab.3ba32","x":130,"y":100,"wires":[["c7e9528c.78b55","5513a1da.8a3a4"]]},{"id":"c7e9528c.78b55","type":"change","z":"a38ab092.9ed8b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.{\t   \"time\" : $millis(),\t   \"ax\" : d.\"AccelerometerX@Device\",\t   \"ay\" : d.\"AccelerometerY@Device\",\t   \"az\" : d.\"AccelerometerZ@Device\",\t   \"lax\" : d.\"LinearAccelerationX@Device\",\t   \"lay\" : d.\"LinearAccelerationY@Device\",\t   \"laz\" : d.\"LinearAccelerationZ@Device\",\t   \"a\" : d.\"AccelerometerAbsolute@Device\"\t}","tot":"jsonata"},{"t":"set","p":"payload.class","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["848e6c4d.9b8fb"]]},{"id":"848e6c4d.9b8fb","type":"debug","z":"a38ab092.9ed8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"de824080.17f69","type":"cloudant out","z":"a38ab092.9ed8b","name":"","cloudant":"","database":"multi-training","service":"iot-app-cloudant-1580576593522-24301","payonly":true,"operation":"insert","x":590,"y":100,"wires":[]},{"id":"5513a1da.8a3a4","type":"function","z":"a38ab092.9ed8b","name":"Apply classification model","func":"const intercept = 45.6523323008108;\nconst w_a = 8.8387;\nconst w_ax = 6.7771;\nconst w_ay = 3.5814;\nconst w_az = -15.6957;\nconst w_lax = -7.2672;\nconst w_lay = -15.8574;\nconst w_laz = 4.6685;\n\nlet x = intercept + \n        w_a * msg.payload.d[\"AccelerometerAbsolute@Device\"] + \n        w_ax * msg.payload.d[\"AccelerometerX@Device\"] + \n        w_ay * msg.payload.d[\"AccelerometerY@Device\"] + \n        w_az * msg.payload.d[\"AccelerometerZ@Device\"] + \n        w_lax * msg.payload.d[\"LinearAccelerationX@Device\"] + \n        w_lay * msg.payload.d[\"LinearAccelerationY@Device\"] + \n        w_laz * msg.payload.d[\"LinearAccelerationZ@Device\"];\n\nmsg.payload = 100.0 / (1.0 + Math.exp(-x));\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["172d17d7.3d77d8","2066bdaf.6bc6f2","be1114b8.e6ffe8"]]},{"id":"172d17d7.3d77d8","type":"debug","z":"a38ab092.9ed8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":280,"wires":[]},{"id":"2066bdaf.6bc6f2","type":"ui_gauge","z":"a38ab092.9ed8b","name":"","group":"f4366f5d.b1a64","order":2,"width":0,"height":0,"gtype":"gage","title":"Classifier model","label":"%","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00f900","#fffb00","#ff2600"],"seg1":"45","seg2":"55","x":640,"y":160,"wires":[]},{"id":"dda1def.767d62","type":"ui_toast","z":"a38ab092.9ed8b","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Shake detected by classifier!","name":"Shake notification","x":890,"y":160,"wires":[]},{"id":"be1114b8.e6ffe8","type":"switch","z":"a38ab092.9ed8b","name":"probability > 50%","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":650,"y":220,"wires":[["dda1def.767d62"],[]]}]